name: Django CI/CD

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:13
        env:
          POSTGRES_DB: django_test
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        ports:
          - 5432:5432
        options: >-
          --health-cmd "pg_isready -U postgres"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    env:
      DATABASE_URL: postgres://postgres:postgres@localhost:5432/django_test
      DJANGO_SECRET_KEY: your-secret-key
      DJANGO_DEBUG: 0

    steps:
    - name: Check out the repository
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

  #  - name: Install dependencies
   #   run: |
    #    python -m venv venv
    #    source venv/bin/activate
     #   pip install -r requirements.txt

   # - name: Run migrations
     # run: |
        #source venv/bin/activate
       # python manage.py migrate

    - name: Run tests
      run: |
        source venv/bin/activate
        python manage.py test

    - name: Collect static files
      run: |
        source venv/bin/activate
        python manage.py collectstatic --noinput
